rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**}{
      // allow read, write;
      allow read, write: if request.auth != null;
      }
      
    // maatch logged in user doc in user collections 
    match /users/{userId} {
    allow create: if request.auth.uid != null
    allow read: if request.auth.uid == userId
    }
    
    // match docs in the guides collections
    match /guides/{guidesId} {
    allow read, write: if request.auth.uid != null 
    }
  }
}